extends pug/base

append vars
	- title = "new smile"
	- meta.viewport = "width=device-width, initial-scale=1"

block content
	header.header-main
		.header-wrapper
			.header-main__background
			.header-main__logo-wrapper
				.header-main__logo
					| <svg width="204px" height="56px" viewBox="0 0 204 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					|         <g transform="translate(-100.000000, -24.000000)" fill="#FFFFFF" fill-rule="nonzero">
					|             <g transform="translate(40.000000, 0.000000)">
					|                 <g transform="translate(60.000000, 24.000000)">
					|                     <g>
					|                         <path d="M31.5264881,16.7773638 C31.9727932,16.6935821 32.4266717,16.6481605 32.8832308,16.6422535 L32.8845544,16.6718224 C35.8400054,16.5600222 39.1942292,17.2787442 40.1723077,21.2169014 C41.7415385,27.6687324 38.25,34.7752113 38.1009231,35.0749296 C37.8498462,35.6191549 35.4489231,40.8169014 32.5615385,40.8169014 C30.8353846,40.8169014 30.2076923,38.616338 29.6270769,36.4867606 C29.2112308,34.988169 28.6384615,32.9453521 27.8695385,32.9453521 L27.7753846,32.9453521 C26.9907692,32.9453521 26.4415385,34.988169 26.0178462,36.4867606 C25.4293846,38.616338 24.8095385,40.8169014 23.0833846,40.8169014 C20.196,40.8169014 17.7950769,35.6191549 17.5283077,35.0276056 C17.3949231,34.7594366 13.872,27.6529577 15.4726154,21.2011268 C16.932,15.3566197 23.6090769,16.6028169 26.4572308,17.1312676 C26.8920272,17.2302917 27.3321424,17.3040291 27.7753846,17.3521127 L27.8695385,17.3521127 C28.3125435,17.3098013 28.7526886,17.2413262 29.1876923,17.1470423 C29.8139373,17.0308478 30.6256751,16.8799532 31.5264881,16.7773638 Z M26.7321124,18.7478148 C26.5560572,18.7179814 26.3806872,18.6839137 26.2061538,18.6456338 C22.2830769,17.92 18.0461538,17.4783099 17.0261538,21.548169 C15.5667692,27.4242254 18.9406154,34.2388732 18.9798462,34.3098592 C19.8978462,36.3605634 21.7730769,39.2 23.1147692,39.2 C23.6483077,39.2 24.2053846,37.2123944 24.5427692,36.0450704 C25.1547692,33.7498592 25.8216923,31.3678873 27.7753846,31.3678873 L27.7753846,31.3521127 L27.8695385,31.3521127 C29.8232308,31.3521127 30.4901538,33.7183099 31.1413846,36.0450704 C31.4709231,37.2360563 32.028,39.2 32.5615385,39.2 C33.9110769,39.2 35.7863077,36.3605634 36.6886154,34.3414085 C36.7356923,34.2388732 40.1095385,27.4242254 38.6501538,21.548169 C37.9384292,18.6863325 35.624427,18.0513752 32.9521404,18.1816142 L32.9538462,18.2197183 C31.9856688,18.2627592 31.0381868,18.5156706 30.1763077,18.9611268 C28.7182359,19.707034 27.2199084,20.3706 25.6883077,20.9487324 C21.1924615,22.4709859 20.3607692,20.2546479 20.3607692,20.16 C22.7277428,20.16 24.2423164,19.8325042 26.7321124,18.7478148 Z M20.5726154,3.03661972 C19.996285,3.03661972 19.5290769,2.56696012 19.5290769,1.98760563 C19.5290769,1.40825115 19.996285,0.938591549 20.5726154,0.938591549 C21.1489458,0.938591549 21.6161538,1.40825115 21.6161538,1.98760563 C21.6161538,2.56696012 21.1489458,3.03661972 20.5726154,3.03661972 Z M13.9269231,6.00225352 C13.3505927,6.00225352 12.8833846,5.53259392 12.8833846,4.95323944 C12.8833846,4.37388496 13.3505927,3.90422535 13.9269231,3.90422535 C14.5032535,3.90422535 14.9704615,4.37388496 14.9704615,4.95323944 C14.9704615,5.53259392 14.5032535,6.00225352 13.9269231,6.00225352 Z M8.28553846,10.6242254 C7.70920808,10.6242254 7.242,10.1545657 7.242,9.57521127 C7.242,8.99585679 7.70920808,8.52619718 8.28553846,8.52619718 C8.86186884,8.52619718 9.32907692,8.99585679 9.32907692,9.57521127 C9.32907692,10.1545657 8.86186884,10.6242254 8.28553846,10.6242254 Z M4.07215385,16.5712676 C3.49582347,16.5712676 3.02861538,16.101608 3.02861538,15.5222535 C3.02861538,14.942899 3.49582347,14.4732394 4.07215385,14.4732394 C4.64848422,14.4732394 5.11569231,14.942899 5.11569231,15.5222535 C5.11569231,16.101608 4.64848422,16.5712676 4.07215385,16.5712676 Z M1.57707692,23.4805634 C1.00074654,23.4805634 0.533538462,23.0109038 0.533538462,22.4315493 C0.533538462,21.8521948 1.00074654,21.3825352 1.57707692,21.3825352 C2.1534073,21.3825352 2.62061538,21.8521948 2.62061538,22.4315493 C2.62061538,23.0109038 2.1534073,23.4805634 1.57707692,23.4805634 Z M1.04353846,30.7842254 C0.467208083,30.7842254 1.62225788e-12,30.3145657 1.62225788e-12,29.7352113 C1.62225788e-12,29.1558568 0.467208083,28.6861972 1.04353846,28.6861972 C1.61986884,28.6861972 2.08707692,29.1558568 2.08707692,29.7352113 C2.08707692,30.3145657 1.61986884,30.7842254 1.04353846,30.7842254 Z M2.47153846,37.9616901 C1.89520808,37.9616901 1.428,37.4920305 1.428,36.9126761 C1.428,36.3333216 1.89520808,35.863662 2.47153846,35.863662 C3.04786884,35.863662 3.51507692,36.3333216 3.51507692,36.9126761 C3.51507692,37.4920305 3.04786884,37.9616901 2.47153846,37.9616901 Z M5.79046154,44.4766197 C5.21413116,44.4766197 4.74692308,44.0069601 4.74692308,43.4276056 C4.74692308,42.8482512 5.21413116,42.3785915 5.79046154,42.3785915 C6.36679192,42.3785915 6.834,42.8482512 6.834,43.4276056 C6.834,44.0069601 6.36679192,44.4766197 5.79046154,44.4766197 Z M10.7413846,49.8794366 C10.1650542,49.8794366 9.69784615,49.409777 9.69784615,48.8304225 C9.69784615,48.2510681 10.1650542,47.7814085 10.7413846,47.7814085 C11.317715,47.7814085 11.7849231,48.2510681 11.7849231,48.8304225 C11.7849231,49.409777 11.317715,49.8794366 10.7413846,49.8794366 Z M16.9163077,53.736338 C16.3399773,53.736338 15.8727692,53.2666784 15.8727692,52.6873239 C15.8727692,52.1079695 16.3399773,51.6383099 16.9163077,51.6383099 C17.4926381,51.6383099 17.9598462,52.1079695 17.9598462,52.6873239 C17.9598462,53.2666784 17.4926381,53.736338 16.9163077,53.736338 Z M23.9150769,55.7791549 C23.3387465,55.7791549 22.8715385,55.3094953 22.8715385,54.7301408 C22.8715385,54.1507864 23.3387465,53.6811268 23.9150769,53.6811268 C24.4914073,53.6811268 24.9586154,54.1507864 24.9586154,54.7301408 C24.9586154,55.3094953 24.4914073,55.7791549 23.9150769,55.7791549 Z M27.8224615,2.09802817 C27.2461312,2.09802817 26.7789231,1.62836857 26.7789231,1.04901408 C26.7789231,0.469659603 27.2461312,3.77475828e-15 27.8224615,3.77475828e-15 C28.3987919,3.77475828e-15 28.866,0.469659603 28.866,1.04901408 C28.866,1.62836857 28.3987919,2.09802817 27.8224615,2.09802817 Z M35.0723077,3.03661972 C34.4959773,3.03661972 34.0287692,2.56696012 34.0287692,1.98760563 C34.0287692,1.40825115 34.4959773,0.938591549 35.0723077,0.938591549 C35.6486381,0.938591549 36.1158462,1.40825115 36.1158462,1.98760563 C36.1158462,2.56696012 35.6486381,3.03661972 35.0723077,3.03661972 Z M41.7258462,6.00225352 C41.1495158,6.00225352 40.6823077,5.53259392 40.6823077,4.95323944 C40.6823077,4.37388496 41.1495158,3.90422535 41.7258462,3.90422535 C42.3021765,3.90422535 42.7693846,4.37388496 42.7693846,4.95323944 C42.7693846,5.53259392 42.3021765,6.00225352 41.7258462,6.00225352 Z M47.3672308,10.6242254 C46.7909004,10.6242254 46.3236923,10.1545657 46.3236923,9.57521127 C46.3236923,8.99585679 46.7909004,8.52619718 47.3672308,8.52619718 C47.9435611,8.52619718 48.4107692,8.99585679 48.4107692,9.57521127 C48.4107692,10.1545657 47.9435611,10.6242254 47.3672308,10.6242254 Z M51.5727692,16.5712676 C50.9964389,16.5712676 50.5292308,16.101608 50.5292308,15.5222535 C50.5292308,14.942899 50.9964389,14.4732394 51.5727692,14.4732394 C52.1490996,14.4732394 52.6163077,14.942899 52.6163077,15.5222535 C52.6163077,16.101608 52.1490996,16.5712676 51.5727692,16.5712676 Z M54.0678462,23.4805634 C53.4915158,23.4805634 53.0243077,23.0109038 53.0243077,22.4315493 C53.0243077,21.8521948 53.4915158,21.3825352 54.0678462,21.3825352 C54.6441765,21.3825352 55.1113846,21.8521948 55.1113846,22.4315493 C55.1113846,23.0109038 54.6441765,23.4805634 54.0678462,23.4805634 Z M54.6092308,30.7842254 C54.0329004,30.7842254 53.5656923,30.3145657 53.5656923,29.7352113 C53.5656923,29.1558568 54.0329004,28.6861972 54.6092308,28.6861972 C55.1855611,28.6861972 55.6527692,29.1558568 55.6527692,29.7352113 C55.6527692,30.3145657 55.1855611,30.7842254 54.6092308,30.7842254 Z M53.1733846,37.9616901 C52.5970542,37.9616901 52.1298462,37.4920305 52.1298462,36.9126761 C52.1298462,36.3333216 52.5970542,35.863662 53.1733846,35.863662 C53.749715,35.863662 54.2169231,36.3333216 54.2169231,36.9126761 C54.2169231,37.4920305 53.749715,37.9616901 53.1733846,37.9616901 Z M49.8544615,44.4766197 C49.2781312,44.4766197 48.8109231,44.0069601 48.8109231,43.4276056 C48.8109231,42.8482512 49.2781312,42.3785915 49.8544615,42.3785915 C50.4307919,42.3785915 50.898,42.8482512 50.898,43.4276056 C50.898,44.0069601 50.4307919,44.4766197 49.8544615,44.4766197 Z M44.9113846,49.8794366 C44.3350542,49.8794366 43.8678462,49.409777 43.8678462,48.8304225 C43.8678462,48.2510681 44.3350542,47.7814085 44.9113846,47.7814085 C45.487715,47.7814085 45.9549231,48.2510681 45.9549231,48.8304225 C45.9549231,49.409777 45.487715,49.8794366 44.9113846,49.8794366 Z M38.7286154,53.736338 C38.152285,53.736338 37.6850769,53.2666784 37.6850769,52.6873239 C37.6850769,52.1079695 38.152285,51.6383099 38.7286154,51.6383099 C39.3049458,51.6383099 39.7721538,52.1079695 39.7721538,52.6873239 C39.7721538,53.2666784 39.3049458,53.736338 38.7286154,53.736338 Z M31.7376923,55.7791549 C31.1613619,55.7791549 30.6941538,55.3094953 30.6941538,54.7301408 C30.6941538,54.1507864 31.1613619,53.6811268 31.7376923,53.6811268 C32.3140227,53.6811268 32.7812308,54.1507864 32.7812308,54.7301408 C32.7812308,55.3094953 32.3140227,55.7791549 31.7376923,55.7791549 Z M21.8515385,50.5498592 C21.2752081,50.5498592 20.808,50.0801996 20.808,49.5008451 C20.808,48.9214906 21.2752081,48.451831 21.8515385,48.451831 C22.4278688,48.451831 22.8950769,48.9214906 22.8950769,49.5008451 C22.8950769,50.0801996 22.4278688,50.5498592 21.8515385,50.5498592 Z M16.116,47.7971831 C15.5396696,47.7971831 15.0724615,47.3275235 15.0724615,46.748169 C15.0724615,46.1688145 15.5396696,45.6991549 16.116,45.6991549 C16.6923304,45.6991549 17.1595385,46.1688145 17.1595385,46.748169 C17.1595385,47.3275235 16.6923304,47.7971831 16.116,47.7971831 Z M12.4518462,44.4608451 C11.8755158,44.4608451 11.4083077,43.9911855 11.4083077,43.411831 C11.4083077,42.8324765 11.8755158,42.3628169 12.4518462,42.3628169 C13.0281765,42.3628169 13.4953846,42.8324765 13.4953846,43.411831 C13.4953846,43.9911855 13.0281765,44.4608451 12.4518462,44.4608451 Z M9.54876923,40.611831 C8.97243885,40.611831 8.50523077,40.1421714 8.50523077,39.5628169 C8.50523077,38.9834624 8.97243885,38.5138028 9.54876923,38.5138028 C10.1250996,38.5138028 10.5923077,38.9834624 10.5923077,39.5628169 C10.5923077,40.1421714 10.1250996,40.611831 9.54876923,40.611831 Z M7.57153846,36.2264789 C6.99520808,36.2264789 6.528,35.7568193 6.528,35.1774648 C6.528,34.5981103 6.99520808,34.1284507 7.57153846,34.1284507 C8.14786884,34.1284507 8.61507692,34.5981103 8.61507692,35.1774648 C8.61507692,35.7568193 8.14786884,36.2264789 7.57153846,36.2264789 Z M6.528,31.2811268 C5.95166962,31.2811268 5.48446154,30.8114672 5.48446154,30.2321127 C5.48446154,29.6527582 5.95166962,29.1830986 6.528,29.1830986 C7.10433038,29.1830986 7.57153846,29.6527582 7.57153846,30.2321127 C7.57153846,30.8114672 7.10433038,31.2811268 6.528,31.2811268 Z M6.59076923,25.8467606 C6.01443885,25.8467606 5.54723077,25.377101 5.54723077,24.7977465 C5.54723077,24.218392 6.01443885,23.7487324 6.59076923,23.7487324 C7.16709961,23.7487324 7.63430769,24.218392 7.63430769,24.7977465 C7.63430769,25.377101 7.16709961,25.8467606 6.59076923,25.8467606 Z M7.41461538,20.1521127 C6.83828501,20.1521127 6.37107692,19.6824531 6.37107692,19.1030986 C6.37107692,18.5237441 6.83828501,18.0540845 7.41461538,18.0540845 C7.99094576,18.0540845 8.45815385,18.5237441 8.45815385,19.1030986 C8.45815385,19.6824531 7.99094576,20.1521127 7.41461538,20.1521127 Z M9.74492308,15.0726761 C9.1685927,15.0726761 8.70138462,14.6030165 8.70138462,14.023662 C8.70138462,13.4443075 9.1685927,12.9746479 9.74492308,12.9746479 C10.3212535,12.9746479 10.7884615,13.4443075 10.7884615,14.023662 C10.7884615,14.6030165 10.3212535,15.0726761 9.74492308,15.0726761 Z M14.4683077,11.0343662 C13.8919773,11.0343662 13.4247692,10.5647066 13.4247692,9.98535211 C13.4247692,9.40599763 13.8919773,8.93633803 14.4683077,8.93633803 C15.0446381,8.93633803 15.5118462,9.40599763 15.5118462,9.98535211 C15.5118462,10.5647066 15.0446381,11.0343662 14.4683077,11.0343662 Z M19.9292308,9.10985915 C19.3529004,9.10985915 18.8856923,8.64019955 18.8856923,8.06084507 C18.8856923,7.48149059 19.3529004,7.01183099 19.9292308,7.01183099 C20.5055611,7.01183099 20.9727692,7.48149059 20.9727692,8.06084507 C20.9727692,8.64019955 20.5055611,9.10985915 19.9292308,9.10985915 Z M25.3901538,8.52619718 C24.8138235,8.52619718 24.3466154,8.05653758 24.3466154,7.4771831 C24.3466154,6.89782862 24.8138235,6.42816901 25.3901538,6.42816901 C25.9664842,6.42816901 26.4336923,6.89782862 26.4336923,7.4771831 C26.4336923,8.05653758 25.9664842,8.52619718 25.3901538,8.52619718 Z M27.8224615,51.5042254 C27.2461312,51.5042254 26.7789231,51.0345657 26.7789231,50.4552113 C26.7789231,49.8758568 27.2461312,49.4061972 27.8224615,49.4061972 C28.3987919,49.4061972 28.866,49.8758568 28.866,50.4552113 C28.866,51.0345657 28.3987919,51.5042254 27.8224615,51.5042254 Z M33.7933846,50.5498592 C33.2170542,50.5498592 32.7498462,50.0801996 32.7498462,49.5008451 C32.7498462,48.9214906 33.2170542,48.451831 33.7933846,48.451831 C34.369715,48.451831 34.8369231,48.9214906 34.8369231,49.5008451 C34.8369231,50.0801996 34.369715,50.5498592 33.7933846,50.5498592 Z M39.5289231,47.7971831 C38.9525927,47.7971831 38.4853846,47.3275235 38.4853846,46.748169 C38.4853846,46.1688145 38.9525927,45.6991549 39.5289231,45.6991549 C40.1052535,45.6991549 40.5724615,46.1688145 40.5724615,46.748169 C40.5724615,47.3275235 40.1052535,47.7971831 39.5289231,47.7971831 Z M43.1930769,44.4608451 C42.6167465,44.4608451 42.1495385,43.9911855 42.1495385,43.411831 C42.1495385,42.8324765 42.6167465,42.3628169 43.1930769,42.3628169 C43.7694073,42.3628169 44.2366154,42.8324765 44.2366154,43.411831 C44.2366154,43.9911855 43.7694073,44.4608451 43.1930769,44.4608451 Z M46.0961538,40.611831 C45.5198235,40.611831 45.0526154,40.1421714 45.0526154,39.5628169 C45.0526154,38.9834624 45.5198235,38.5138028 46.0961538,38.5138028 C46.6724842,38.5138028 47.1396923,38.9834624 47.1396923,39.5628169 C47.1396923,40.1421714 46.6724842,40.611831 46.0961538,40.611831 Z M48.0733846,36.2264789 C47.4970542,36.2264789 47.0298462,35.7568193 47.0298462,35.1774648 C47.0298462,34.5981103 47.4970542,34.1284507 48.0733846,34.1284507 C48.649715,34.1284507 49.1169231,34.5981103 49.1169231,35.1774648 C49.1169231,35.7568193 48.649715,36.2264789 48.0733846,36.2264789 Z M49.1247692,31.2811268 C48.5484389,31.2811268 48.0812308,30.8114672 48.0812308,30.2321127 C48.0812308,29.6527582 48.5484389,29.1830986 49.1247692,29.1830986 C49.7010996,29.1830986 50.1683077,29.6527582 50.1683077,30.2321127 C50.1683077,30.8114672 49.7010996,31.2811268 49.1247692,31.2811268 Z M49.062,25.8467606 C48.4856696,25.8467606 48.0184615,25.377101 48.0184615,24.7977465 C48.0184615,24.218392 48.4856696,23.7487324 49.062,23.7487324 C49.6383304,23.7487324 50.1055385,24.218392 50.1055385,24.7977465 C50.1055385,25.377101 49.6383304,25.8467606 49.062,25.8467606 Z M48.2381538,20.1521127 C47.6618235,20.1521127 47.1946154,19.6824531 47.1946154,19.1030986 C47.1946154,18.5237441 47.6618235,18.0540845 48.2381538,18.0540845 C48.8144842,18.0540845 49.2816923,18.5237441 49.2816923,19.1030986 C49.2816923,19.6824531 48.8144842,20.1521127 48.2381538,20.1521127 Z M45.9,15.0726761 C45.3236696,15.0726761 44.8564615,14.6030165 44.8564615,14.023662 C44.8564615,13.4443075 45.3236696,12.9746479 45.9,12.9746479 C46.4763304,12.9746479 46.9435385,13.4443075 46.9435385,14.023662 C46.9435385,14.6030165 46.4763304,15.0726761 45.9,15.0726761 Z M41.1766154,11.0343662 C40.600285,11.0343662 40.1330769,10.5647066 40.1330769,9.98535211 C40.1330769,9.40599763 40.600285,8.93633803 41.1766154,8.93633803 C41.7529458,8.93633803 42.2201538,9.40599763 42.2201538,9.98535211 C42.2201538,10.5647066 41.7529458,11.0343662 41.1766154,11.0343662 Z M35.7156923,9.10985915 C35.1393619,9.10985915 34.6721538,8.64019955 34.6721538,8.06084507 C34.6721538,7.48149059 35.1393619,7.01183099 35.7156923,7.01183099 C36.2920227,7.01183099 36.7592308,7.48149059 36.7592308,8.06084507 C36.7592308,8.64019955 36.2920227,9.10985915 35.7156923,9.10985915 Z M30.2547692,8.52619718 C29.6784389,8.52619718 29.2112308,8.05653758 29.2112308,7.4771831 C29.2112308,6.89782862 29.6784389,6.42816901 30.2547692,6.42816901 C30.8310996,6.42816901 31.2983077,6.89782862 31.2983077,7.4771831 C31.2983077,8.05653758 30.8310996,8.52619718 30.2547692,8.52619718 Z M27.8224615,13.6529577 C27.2461312,13.6529577 26.7789231,13.1832981 26.7789231,12.6039437 C26.7789231,12.0245892 27.2461312,11.5549296 27.8224615,11.5549296 C28.3987919,11.5549296 28.866,12.0245892 28.866,12.6039437 C28.866,13.1832981 28.3987919,13.6529577 27.8224615,13.6529577 Z M23.1069231,13.4715493 C22.5305927,13.4715493 22.0633846,13.0018897 22.0633846,12.4225352 C22.0633846,11.8431807 22.5305927,11.3735211 23.1069231,11.3735211 C23.6832535,11.3735211 24.1504615,11.8431807 24.1504615,12.4225352 C24.1504615,13.0018897 23.6832535,13.4715493 23.1069231,13.4715493 Z M18.6346154,13.7397183 C18.058285,13.7397183 17.5910769,13.2700587 17.5910769,12.6907042 C17.5910769,12.1113497 18.058285,11.6416901 18.6346154,11.6416901 C19.2109458,11.6416901 19.6781538,12.1113497 19.6781538,12.6907042 C19.6781538,13.2700587 19.2109458,13.7397183 18.6346154,13.7397183 Z M14.6644615,15.4433803 C14.0881312,15.4433803 13.6209231,14.9737207 13.6209231,14.3943662 C13.6209231,13.8150117 14.0881312,13.3453521 14.6644615,13.3453521 C15.2407919,13.3453521 15.708,13.8150117 15.708,14.3943662 C15.708,14.9737207 15.2407919,15.4433803 14.6644615,15.4433803 Z M11.9026154,18.8507042 C11.326285,18.8507042 10.8590769,18.3810446 10.8590769,17.8016901 C10.8590769,17.2223357 11.326285,16.7526761 11.9026154,16.7526761 C12.4789458,16.7526761 12.9461538,17.2223357 12.9461538,17.8016901 C12.9461538,18.3810446 12.4789458,18.8507042 11.9026154,18.8507042 Z M10.7492308,22.8101408 C10.1729004,22.8101408 9.70569231,22.3404812 9.70569231,21.7611268 C9.70569231,21.1817723 10.1729004,20.7121127 10.7492308,20.7121127 C11.3255611,20.7121127 11.7927692,21.1817723 11.7927692,21.7611268 C11.7927692,22.3404812 11.3255611,22.8101408 10.7492308,22.8101408 Z M10.608,26.8957746 C10.0316696,26.8957746 9.56446154,26.426115 9.56446154,25.8467606 C9.56446154,25.2674061 10.0316696,24.7977465 10.608,24.7977465 C11.1843304,24.7977465 11.6515385,25.2674061 11.6515385,25.8467606 C11.6515385,26.426115 11.1843304,26.8957746 10.608,26.8957746 Z M10.9375385,30.8946479 C10.3612081,30.8946479 9.894,30.4249883 9.894,29.8456338 C9.894,29.2662793 10.3612081,28.7966197 10.9375385,28.7966197 C11.5138688,28.7966197 11.9810769,29.2662793 11.9810769,29.8456338 C11.9810769,30.4249883 11.5138688,30.8946479 10.9375385,30.8946479 Z M12.0438462,34.8856338 C11.4675158,34.8856338 11.0003077,34.4159742 11.0003077,33.8366197 C11.0003077,33.2572652 11.4675158,32.7876056 12.0438462,32.7876056 C12.6201765,32.7876056 13.0873846,33.2572652 13.0873846,33.8366197 C13.0873846,34.4159742 12.6201765,34.8856338 12.0438462,34.8856338 Z M13.6993846,38.7504225 C13.1230542,38.7504225 12.6558462,38.2807629 12.6558462,37.7014085 C12.6558462,37.122054 13.1230542,36.6523944 13.6993846,36.6523944 C14.275715,36.6523944 14.7429231,37.122054 14.7429231,37.7014085 C14.7429231,38.2807629 14.275715,38.7504225 13.6993846,38.7504225 Z M16.1081538,42.315493 C15.5318235,42.315493 15.0646154,41.8458334 15.0646154,41.2664789 C15.0646154,40.6871244 15.5318235,40.2174648 16.1081538,40.2174648 C16.6844842,40.2174648 17.1516923,40.6871244 17.1516923,41.2664789 C17.1516923,41.8458334 16.6844842,42.315493 16.1081538,42.315493 Z M19.3878462,45.4073239 C18.8115158,45.4073239 18.3443077,44.9376643 18.3443077,44.3583099 C18.3443077,43.7789554 18.8115158,43.3092958 19.3878462,43.3092958 C19.9641765,43.3092958 20.4313846,43.7789554 20.4313846,44.3583099 C20.4313846,44.9376643 19.9641765,45.4073239 19.3878462,45.4073239 Z M23.9150769,46.5667606 C23.3387465,46.5667606 22.8715385,46.097101 22.8715385,45.5177465 C22.8715385,44.938392 23.3387465,44.4687324 23.9150769,44.4687324 C24.4914073,44.4687324 24.9586154,44.938392 24.9586154,45.5177465 C24.9586154,46.097101 24.4914073,46.5667606 23.9150769,46.5667606 Z M27.8224615,43.9560563 C27.2461312,43.9560563 26.7789231,43.4863967 26.7789231,42.9070423 C26.7789231,42.3276878 27.2461312,41.8580282 27.8224615,41.8580282 C28.3987919,41.8580282 28.866,42.3276878 28.866,42.9070423 C28.866,43.4863967 28.3987919,43.9560563 27.8224615,43.9560563 Z M32.538,13.4715493 C31.9616696,13.4715493 31.4944615,13.0018897 31.4944615,12.4225352 C31.4944615,11.8431807 31.9616696,11.3735211 32.538,11.3735211 C33.1143304,11.3735211 33.5815385,11.8431807 33.5815385,12.4225352 C33.5815385,13.0018897 33.1143304,13.4715493 32.538,13.4715493 Z M37.0103077,13.7397183 C36.4339773,13.7397183 35.9667692,13.2700587 35.9667692,12.6907042 C35.9667692,12.1113497 36.4339773,11.6416901 37.0103077,11.6416901 C37.5866381,11.6416901 38.0538462,12.1113497 38.0538462,12.6907042 C38.0538462,13.2700587 37.5866381,13.7397183 37.0103077,13.7397183 Z M40.9804615,15.4433803 C40.4041312,15.4433803 39.9369231,14.9737207 39.9369231,14.3943662 C39.9369231,13.8150117 40.4041312,13.3453521 40.9804615,13.3453521 C41.5567919,13.3453521 42.024,13.8150117 42.024,14.3943662 C42.024,14.9737207 41.5567919,15.4433803 40.9804615,15.4433803 Z M43.7423077,18.8507042 C43.1659773,18.8507042 42.6987692,18.3810446 42.6987692,17.8016901 C42.6987692,17.2223357 43.1659773,16.7526761 43.7423077,16.7526761 C44.3186381,16.7526761 44.7858462,17.2223357 44.7858462,17.8016901 C44.7858462,18.3810446 44.3186381,18.8507042 43.7423077,18.8507042 Z M44.9035385,22.8101408 C44.3272081,22.8101408 43.86,22.3404812 43.86,21.7611268 C43.86,21.1817723 44.3272081,20.7121127 44.9035385,20.7121127 C45.4798688,20.7121127 45.9470769,21.1817723 45.9470769,21.7611268 C45.9470769,22.3404812 45.4798688,22.8101408 44.9035385,22.8101408 Z M45.0369231,26.8957746 C44.4605927,26.8957746 43.9933846,26.426115 43.9933846,25.8467606 C43.9933846,25.2674061 44.4605927,24.7977465 45.0369231,24.7977465 C45.6132535,24.7977465 46.0804615,25.2674061 46.0804615,25.8467606 C46.0804615,26.426115 45.6132535,26.8957746 45.0369231,26.8957746 Z M44.7152308,30.8946479 C44.1389004,30.8946479 43.6716923,30.4249883 43.6716923,29.8456338 C43.6716923,29.2662793 44.1389004,28.7966197 44.7152308,28.7966197 C45.2915611,28.7966197 45.7587692,29.2662793 45.7587692,29.8456338 C45.7587692,30.4249883 45.2915611,30.8946479 44.7152308,30.8946479 Z M43.6089231,34.8856338 C43.0325927,34.8856338 42.5653846,34.4159742 42.5653846,33.8366197 C42.5653846,33.2572652 43.0325927,32.7876056 43.6089231,32.7876056 C44.1852535,32.7876056 44.6524615,33.2572652 44.6524615,33.8366197 C44.6524615,34.4159742 44.1852535,34.8856338 43.6089231,34.8856338 Z M41.9455385,38.7504225 C41.3692081,38.7504225 40.902,38.2807629 40.902,37.7014085 C40.902,37.122054 41.3692081,36.6523944 41.9455385,36.6523944 C42.5218688,36.6523944 42.9890769,37.122054 42.9890769,37.7014085 C42.9890769,38.2807629 42.5218688,38.7504225 41.9455385,38.7504225 Z M39.5367692,42.315493 C38.9604389,42.315493 38.4932308,41.8458334 38.4932308,41.2664789 C38.4932308,40.6871244 38.9604389,40.2174648 39.5367692,40.2174648 C40.1130996,40.2174648 40.5803077,40.6871244 40.5803077,41.2664789 C40.5803077,41.8458334 40.1130996,42.315493 39.5367692,42.315493 Z M36.2570769,45.4073239 C35.6807465,45.4073239 35.2135385,44.9376643 35.2135385,44.3583099 C35.2135385,43.7789554 35.6807465,43.3092958 36.2570769,43.3092958 C36.8334073,43.3092958 37.3006154,43.7789554 37.3006154,44.3583099 C37.3006154,44.9376643 36.8334073,45.4073239 36.2570769,45.4073239 Z M31.7376923,46.5667606 C31.1613619,46.5667606 30.6941538,46.097101 30.6941538,45.5177465 C30.6941538,44.938392 31.1613619,44.4687324 31.7376923,44.4687324 C32.3140227,44.4687324 32.7812308,44.938392 32.7812308,45.5177465 C32.7812308,46.097101 32.3140227,46.5667606 31.7376923,46.5667606 Z M81.6,29.3092958 L81.6,21.9267606 C81.7404327,21.1821178 82.3878192,20.6431184 83.1417692,20.6431184 C83.8957193,20.6431184 84.5431058,21.1821178 84.6835385,21.9267606 L84.6835385,33.6709859 C84.7255142,34.1009105 84.5737238,34.5271333 84.269855,34.8325966 C83.9659861,35.1380599 83.5419882,35.2906467 83.1143077,35.2484507 C82.3557199,35.1365776 81.6858572,34.6915126 81.2861538,34.0338028 L75.2446154,26.3673239 L75.2446154,33.7025352 C75.1041827,34.447178 74.4567962,34.9861773 73.7028462,34.9861773 C72.9488961,34.9861773 72.3015096,34.447178 72.1610769,33.7025352 L72.1610769,21.9740845 C72.1342551,21.5563296 72.2843442,21.1466416 72.5742932,20.8461567 C72.8642421,20.5456718 73.2670325,20.3823902 73.6832308,20.3966197 C74.3972308,20.3966197 74.8130769,20.6647887 75.5270769,21.571831 L81.6,29.3092958 Z M93.7223077,31.9515493 L97.6453846,31.9515493 C98.265609,31.83335 98.895908,32.1002598 99.2450488,32.6289516 C99.5941896,33.1576434 99.5941896,33.8451735 99.2450488,34.3738653 C98.895908,34.9025571 98.265609,35.1694669 97.6453846,35.0512676 L91.9961538,35.0512676 C91.1294916,35.0512676 90.4269231,34.3450126 90.4269231,33.4738028 L90.4269231,22.131831 C90.4269231,21.2606212 91.1294916,20.5543662 91.9961538,20.5543662 L97.4413846,20.5543662 C98.1821406,20.6955358 98.7183264,21.3463192 98.7183264,22.1042254 C98.7183264,22.8621315 98.1821406,23.5129149 97.4413846,23.6540845 L93.738,23.6540845 L93.738,26.1938028 L96.8215385,26.1938028 C97.4417629,26.0756036 98.0720618,26.3425133 98.4212026,26.8712051 C98.7703434,27.3998969 98.7703434,28.0874271 98.4212026,28.6161188 C98.0720618,29.1448106 97.4417629,29.4117204 96.8215385,29.2935211 L93.738,29.2935211 L93.7223077,31.9515493 Z M112.717846,25.7521127 L110.293385,33.3949296 C109.846154,34.7042254 109.344,35.256338 108.198462,35.256338 C107.170615,35.256338 106.488,34.6569014 106.142769,33.4580282 L103.004308,22.8811268 C102.945587,22.6514452 102.911393,22.4161246 102.902308,22.1791549 C102.87932,21.6927145 103.062608,21.2192902 103.406657,20.8764439 C103.750705,20.5335977 104.223241,20.3534898 104.706923,20.3808451 C105.504917,20.3425381 106.204162,20.913019 106.331077,21.7059155 L108.473077,29.7194366 L110.756308,22.1791549 C111.125077,20.9802817 111.823385,20.3808451 112.827692,20.3808451 C113.981077,20.3808451 114.514615,20.9408451 114.930462,22.2422535 L117.284308,29.7194366 L119.504769,21.5560563 C119.68417,20.8224492 120.369315,20.3302442 121.117861,20.3972183 C121.866407,20.4641925 122.454307,21.0702996 122.502,21.8242254 C122.505041,22.0009397 122.478518,22.1769114 122.423538,22.3447887 L119.34,33.3870423 C118.986923,34.6884507 118.390615,35.2484507 117.237231,35.2484507 C116.083846,35.2484507 115.597385,34.6332394 115.205077,33.4501408 L112.717846,25.7521127 Z M145.153846,34.0969014 C144.163864,34.9198219 142.906684,35.3466976 141.623077,35.2957746 C140.593922,35.3125764 139.57442,35.0941211 138.641538,34.6569014 C137.84817,34.3850012 137.312944,33.6380827 137.307692,32.795493 C137.279524,32.4202705 137.406749,32.0500103 137.659286,31.7722554 C137.911823,31.4945005 138.267253,31.3339091 138.641538,31.3284507 C139.136261,31.3896708 139.616725,31.5364343 140.061692,31.7622535 C140.579566,32.0230238 141.146408,32.1708534 141.725077,32.1960563 C142.564615,32.1960563 143.082462,31.7622535 143.082462,31.0839437 C143.082462,29.9087324 140.924769,29.2461972 139.198615,28.2287324 C137.873469,27.4693211 137.062416,26.0470596 137.080154,24.5138028 C137.064444,23.3857824 137.536846,22.3065075 138.374769,21.5560563 C139.325387,20.7165943 140.563181,20.2810929 141.827077,20.3414085 C143.882769,20.3414085 145.381385,20.9960563 145.381385,22.2580282 C145.398468,22.6460966 145.257504,23.024407 144.991007,23.3056971 C144.72451,23.5869872 144.355494,23.7469661 143.969077,23.7487324 C143.325192,23.6036046 142.672576,23.5008512 142.015385,23.4411268 C141.105231,23.4411268 140.571692,23.8512676 140.571692,24.5138028 C140.571692,26.88 146.574,26.3278873 146.574,31.044507 C146.591192,32.2270354 146.067734,33.3521246 145.153846,34.0969014 Z M154.710462,25.8940845 L154.710462,33.7104225 C154.710462,34.6251928 153.972765,35.3667606 153.062769,35.3667606 C152.152774,35.3667606 151.415077,34.6251928 151.415077,33.7104225 L151.415077,22.2422535 C151.400333,21.7288027 151.602817,21.2331379 151.97227,20.8782862 C152.341723,20.5234345 152.843507,20.3426647 153.353077,20.3808451 C153.809813,20.3602779 154.261789,20.4814372 154.647692,20.7278873 C155.104356,21.1529109 155.517073,21.6232871 155.879538,22.131831 L159.167077,26.6828169 L162.305538,22.155493 C162.901846,21.2721127 163.090154,20.9960563 163.678615,20.6490141 C163.977024,20.4691591 164.319325,20.3763075 164.667231,20.3808451 C165.156187,20.3411817 165.638253,20.5164359 165.988863,20.861322 C166.339472,21.206208 166.524227,21.6868884 166.495385,22.1791549 L166.495385,33.7104225 C166.435668,34.5787877 165.71751,35.2525304 164.851615,35.2525304 C163.985721,35.2525304 163.267563,34.5787877 163.207846,33.7104225 L163.207846,25.8230986 L160.061538,30.1769014 C159.82271,30.6047706 159.372678,30.8696727 158.884615,30.8696727 C158.396553,30.8696727 157.946521,30.6047706 157.707692,30.1769014 L154.710462,25.8940845 Z M172.427077,21.9267606 C172.486794,21.0583954 173.204952,20.3846527 174.070846,20.3846527 C174.93674,20.3846527 175.654899,21.0583954 175.714615,21.9267606 L175.714615,33.7104225 C175.654899,34.5787877 174.93674,35.2525304 174.070846,35.2525304 C173.204952,35.2525304 172.486794,34.5787877 172.427077,33.7104225 L172.427077,21.9267606 Z M184.965231,31.9515493 L189.280615,31.9515493 C190.021371,32.0927189 190.557557,32.7435023 190.557557,33.5014085 C190.557557,34.2593146 190.021371,34.910098 189.280615,35.0512676 L183.215538,35.0512676 C182.348876,35.0512676 181.646308,34.3450126 181.646308,33.4738028 L181.646308,21.9267606 C181.729156,21.0743738 182.442025,20.4243696 183.294,20.4243696 C184.145975,20.4243696 184.858844,21.0743738 184.941692,21.9267606 L184.965231,31.9515493 Z M198.217385,31.9515493 L202.140462,31.9515493 C202.881217,32.0927189 203.417403,32.7435023 203.417403,33.5014085 C203.417403,34.2593146 202.881217,34.910098 202.140462,35.0512676 L196.467692,35.0512676 C195.60103,35.0512676 194.898462,34.3450126 194.898462,33.4738028 L194.898462,22.131831 C194.898462,21.2606212 195.60103,20.5543662 196.467692,20.5543662 L201.96,20.5543662 C202.700756,20.6955358 203.236942,21.3463192 203.236942,22.1042254 C203.236942,22.8621315 202.700756,23.5129149 201.96,23.6540845 L198.256615,23.6540845 L198.256615,26.1938028 L201.340154,26.1938028 C201.960378,26.0756036 202.590677,26.3425133 202.939818,26.8712051 C203.288959,27.3998969 203.288959,28.0874271 202.939818,28.6161188 C202.590677,29.1448106 201.960378,29.4117204 201.340154,29.2935211 L198.256615,29.2935211 L198.217385,31.9515493 Z M129.383077,29.4512676 C128.477415,29.4512676 127.743231,28.7132311 127.743231,27.8028169 C127.743231,26.8924027 128.477415,26.1543662 129.383077,26.1543662 C130.288739,26.1543662 131.022923,26.8924027 131.022923,27.8028169 C131.022923,28.7132311 130.288739,29.4512676 129.383077,29.4512676 Z"></path>
					|                     </g>
					|                 </g>
					|             </g>
					|         </g>
					|     </g>
					| </svg>
				.header-main__operation-mode
					a(href="tel:88002004040").phone 8 800 200-40-40
					.operation-mode По будням с 9:00 до 18:00
			.header-main__information
				h1.header-title
					| Инвестируйте в&nbsp;действующий бизнес стоматологической клиники &laquo;New Smile&raquo; Иркутск
				.net-profit Ваша чистая прибыль от&nbsp;250&nbsp;000&nbsp;руб.&nbsp;в&nbsp;месяц
				.attachments
					.attachments__item Вложения&nbsp;&mdash; 8&nbsp;000&nbsp;000&nbsp;руб.
					.attachments__item.popup Есть сумма меньше 8&nbsp;000&nbsp;000&nbsp;руб.
					.attachments__item.attachments__item_last-item Филиал находится на&nbsp;стадии ремонта помещения.
				.advantages
					.advantages__item
						.advantages-icon
							| <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							|         <g transform="translate(-100.000000, -498.000000)" fill="#FFFFFF" fill-rule="nonzero">
							|             <g transform="translate(40.000000, 0.000000)">
							|                 <g transform="translate(60.000000, 133.000000)">
							|                     <g transform="translate(0.000000, 361.000000)">
							|                         <g transform="translate(0.000000, 4.000000)">
							|                             <path d="M9.20125958,13.6207314 C9.50665053,13.9262025 9.50665053,14.4207377 9.20125958,14.7254275 C8.89664989,15.0308987 8.40133687,15.0308987 8.09664906,14.7254275 C7.79117999,14.4207377 7.79117999,13.9262025 8.09664906,13.6207314 C8.40125875,13.3160415 8.89657177,13.3160415 9.20125958,13.6207314 Z M19.7811925,34.9781639 C21.0242406,35.632544 21.8742415,36.9366948 21.8742415,38.436394 L21.8742415,39.2176501 C21.8742415,39.6491379 21.5243974,39.9989062 21.0929907,39.9989062 L0.781250814,39.9989062 C0.349844114,39.9989062 -1.02318154e-12,39.6491379 -1.02318154e-12,39.2176501 L-1.02318154e-12,38.436394 C-1.02318154e-12,36.9359917 0.850860261,35.631294 2.09484593,34.9772264 C1.76054871,34.5237072 1.5624235,33.9638591 1.5624235,33.3584637 C1.5624235,32.6277549 1.8467988,31.9411089 2.36320559,31.4248549 C2.879378,30.9085227 3.56601934,30.6241455 4.29672323,30.6241455 L17.5775183,30.6241455 C19.0852543,30.6241455 20.311818,31.8507957 20.311818,33.3584637 C20.311818,33.949484 20.125646,34.5115977 19.7811925,34.9781639 Z M3.46797236,32.529551 C3.24672213,32.7508027 3.12492513,33.04518 3.12492513,33.3583856 C3.12492513,34.0044844 3.65055068,34.5301916 4.29672323,34.5301916 L17.5774402,34.5301916 C17.8906436,34.5301916 18.1850189,34.4083938 18.406191,34.1871421 C18.6274413,33.9658904 18.7493164,33.6715912 18.7493164,33.3583075 C18.7493164,32.7122087 18.2236909,32.1865015 17.5775183,32.1865015 L4.29672323,32.1865015 C3.98351977,32.1865015 3.68914447,32.3082993 3.46797236,32.529551 Z M1.5624235,38.436394 L20.311818,38.436394 C20.311818,37.1441183 19.2604107,36.0927038 17.9681437,36.0927038 L17.5775183,36.0927038 L4.29672323,36.0927038 L3.90609782,36.0927038 C2.61383085,36.0927038 1.5624235,37.1441183 1.5624235,38.436394 Z M39.2729315,32.8223658 C40.1829325,34.2288612 40.2437138,36.080985 39.4270723,37.5398245 C38.6816028,38.8709287 37.4102733,39.7509356 35.9392562,39.9545309 C35.7191778,39.9849999 35.499412,40 35.2816774,40 C34.0465198,40 32.8700342,39.5167931 31.9793302,38.6263955 C31.889877,38.5369417 31.803705,38.4433472 31.7230799,38.3481902 L28.4800297,34.6220674 C28.465264,34.609411 28.4504203,34.5966765 28.4364359,34.5826921 C28.3954983,34.5417542 28.3604983,34.4971445 28.3304983,34.4502691 L17.4472057,21.9459527 C17.0093146,22.3637685 16.4377515,22.5936921 15.830329,22.5936921 C15.2040783,22.5936921 14.6155621,22.3498621 14.1729054,21.9072024 C13.9818114,21.7161853 13.8279832,21.4977461 13.7146237,21.2610255 L12.7712633,22.2044703 C13.0482948,23.2468222 12.7797008,24.4052688 11.9637625,25.2212908 C11.354465,25.8305143 10.5542297,26.1351261 9.75391641,26.1351261 C8.9536812,26.1351261 8.15344599,25.8305143 7.54414848,25.2212908 L0.915469703,18.592489 C-0.302969066,17.3739639 -0.302969066,15.3913702 0.915469703,14.1729232 C1.50539219,13.5830749 2.28984613,13.2581505 3.124847,13.2581505 C3.40187854,13.2581505 3.6730507,13.2947132 3.93367597,13.3640107 L13.3653264,3.93237447 C13.0882949,2.89002258 13.3568889,1.7314979 14.1728273,0.915554028 C14.7631404,0.32515879 15.5477506,2.84217094e-14 16.3822046,2.84217094e-14 C17.2170492,2.84217094e-14 18.0018937,0.32515879 18.592285,0.915554028 L25.2210419,7.54419956 C25.8114331,8.1345948 26.1365897,8.91936656 26.1365897,9.75398245 C26.1365897,10.5885983 25.8114331,11.3733701 25.2209638,11.9637653 C24.6119006,12.5728326 23.8117435,12.8773662 23.0116646,12.8774444 C22.7399456,12.8774444 22.4684609,12.8415066 22.2042419,12.7712717 L21.2589284,13.7165915 C21.4936943,13.8277643 21.713382,13.9795623 21.9066634,14.1726107 C22.349867,14.6157392 22.5936954,15.2044157 22.5936954,15.8308268 C22.5936954,16.4388784 22.3633827,17.0106798 21.945101,17.4479488 L32.1630804,26.3613778 L34.3706608,28.2867835 C34.4470671,28.323815 34.5189422,28.3732685 34.5823798,28.4366284 C34.6201142,28.4743631 34.653083,28.5149884 34.6815205,28.5578012 L38.3319149,31.7416542 C38.6910559,32.0475941 39.0076188,32.4111907 39.2729315,32.8223658 Z M15.2777503,2.02040641 C14.668609,2.62947367 14.668609,3.62049704 15.2777503,4.22956429 C15.2779065,4.22972054 15.2779847,4.22979867 15.2781409,4.22995492 L21.9071322,10.8589911 C22.5161172,11.4681365 23.507212,11.4681365 24.116197,10.8589911 C24.4115098,10.5637544 24.5740881,10.1713295 24.5740881,9.75406058 C24.5740881,9.33679169 24.4115098,8.94436675 24.1162751,8.64913007 L17.4875182,2.02040641 C17.1923617,1.72516973 16.7997831,1.56251221 16.3822827,1.56251221 C15.9653291,1.56251221 15.572985,1.72516973 15.2777503,2.02040641 Z M10.8589176,24.1164384 C11.4680588,23.5074493 11.4680588,22.5163478 10.8588394,21.9073587 L4.22898878,15.2774631 C3.9343791,14.9829296 3.54226931,14.8206627 3.124847,14.8206627 C2.70734657,14.8206627 2.31500241,14.9830077 2.0203146,15.2777756 C1.41101709,15.8871554 1.41101709,16.8784131 2.0203146,17.4877147 L8.64899338,24.1164384 C9.25821277,24.72574 10.2496982,24.7256619 10.8589176,24.1164384 Z M14.1481397,18.617958 C14.1571241,18.6085048 14.1659523,18.5991297 14.1750929,18.5901452 L18.5921287,14.1730014 C18.5996287,14.1655794 18.6065819,14.1590169 18.6136913,14.1522981 L20.802131,11.9637653 L14.1728273,5.33433855 L5.33430243,14.1730795 L11.9636843,20.8025063 L14.1481397,18.617958 Z M16.9376739,20.2477363 L20.2440836,16.9412261 C20.2477555,16.9374761 20.2515055,16.933726 20.2552555,16.9300541 L20.8022092,16.3830967 C20.9501781,16.2355175 21.0312719,16.0396566 21.0312719,15.8308268 C21.0312719,15.6218408 20.9499437,15.425433 20.8022873,15.2777756 C20.5017401,14.9775389 20.0100208,14.973867 19.7058799,15.2696505 L15.2682972,19.7072633 C15.1266564,19.8524207 15.0486094,20.0448441 15.0486094,20.2493769 C15.0486094,20.458363 15.1299376,20.6547707 15.2776722,20.8024281 C15.4251723,20.9500074 15.6214225,21.0312581 15.8302509,21.0312581 C16.0391573,21.0312581 16.2353294,20.9500074 16.3829077,20.8025063 L16.9330645,20.2523457 C16.934627,20.2507832 16.9361114,20.2492988 16.9376739,20.2477363 Z M18.5554881,20.8395378 L26.9784656,30.5164884 L30.5061255,26.9887265 L20.8387717,18.5562387 L18.5554881,20.8395378 Z M28.0066698,31.6979039 L29.034874,32.8793975 L32.8665186,29.0476488 L31.686283,28.0181876 L28.0066698,31.6979039 Z M38.0638678,36.7765373 C38.5926964,35.8316862 38.5512902,34.5832389 37.9605083,33.6703412 C37.77668,33.3854952 37.5600391,33.1361964 37.3158982,32.9286166 C37.3133201,32.9264291 37.3108201,32.9243197 37.3083982,32.9221322 L34.0466761,30.0770319 L30.0630001,34.060813 L32.9051905,37.3266197 C32.9077686,37.3295104 32.9102687,37.3324792 32.9127687,37.3354479 C32.9663625,37.3988859 33.0238625,37.4614645 33.0839407,37.521465 C33.7825352,38.2197517 34.7452706,38.5424886 35.7251153,38.4068626 C36.7072257,38.270924 37.5596485,37.6767787 38.0638678,36.7765373 Z M14.7253278,8.09654763 C15.0304063,8.40170626 15.0304063,8.8963195 14.7253278,9.20132189 L11.4106369,12.5160353 C11.2580586,12.6685365 11.0581365,12.7448652 10.8582144,12.7448652 C10.6582924,12.7448652 10.4583703,12.6686146 10.305792,12.5160353 C10.0007135,12.2110329 10.0007135,11.7163415 10.305792,11.411261 L13.6204829,8.09654763 C13.9256395,7.79146712 14.4201713,7.79146712 14.7253278,8.09654763 Z"></path>
							|                         </g>
							|                     </g>
							|                 </g>
							|             </g>
							|         </g>
							|     </g>
							| </svg>
						.advantages-text
							|	Юр. гарантия окупаемости вложений за&nbsp;2&nbsp;года
					.advantages__item
						.advantages-icon
							| <svg width="40px" height="42px" viewBox="0 0 40 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							|     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							|         <g transform="translate(-396.000000, -497.000000)">
							|             <g transform="translate(40.000000, 0.000000)">
							|                 <g transform="translate(60.000000, 133.000000)">
							|                     <g transform="translate(296.000000, 361.000000)">
							|                         <g transform="translate(0.000000, 4.000000)">
							|                             <rect x="0" y="0" width="40" height="40"></rect>
							|                             <g transform="translate(1.000000, 0.000000)" fill="#FFFFFF" fill-rule="nonzero" stroke="#FFFFFF" stroke-linejoin="round" stroke-width="0.2">
							|                                 <path d="M25.3054046,17.1558814 L21.0358806,20.8490796 L21.0358806,21.5814307 L25.3054046,25.2749563 C26.0419522,25.9116694 26.4643985,26.8316937 26.4643985,27.7988819 L26.4643985,29.9353427 C27.213868,29.9353427 27.821528,30.5360278 27.821528,31.2768947 L27.821528,32.6184466 C27.821528,33.3593134 27.213868,33.9599985 26.4643985,33.9599985 L11.5359741,33.9599985 C10.7865046,33.9599985 10.1788446,33.3593134 10.1788446,32.6184466 L10.1788446,31.2768947 C10.1788446,30.5360278 10.7865046,29.9353427 11.5359741,29.9353427 L11.5359741,27.7988819 C11.5359741,26.8316937 11.9584204,25.9116694 12.694968,25.2749563 L16.9644921,21.5814307 L16.9644921,20.8490796 L12.694968,17.1558814 C11.9584204,16.5188408 11.5359741,15.5988165 11.5359741,14.6316283 L11.5359741,12.4951676 C10.7865046,12.4951676 10.1788446,11.8944824 10.1788446,11.1536157 L10.1788446,9.81206372 C10.1788446,9.07119686 10.7865046,8.47051179 11.5359741,8.47051179 L26.4643985,8.47051179 C27.213868,8.47051179 27.821528,9.07119686 27.821528,9.81206372 L27.821528,11.1536157 C27.821528,11.8944824 27.213868,12.4951676 26.4643985,12.4951676 L26.4643985,14.6316283 C26.4643985,15.5988165 26.0419522,16.5188408 25.3054046,17.1558814 Z M11.5359741,9.81206372 L11.5359741,11.1536157 L26.4643985,11.1536157 L26.4643985,9.81206372 L11.5359741,9.81206372 Z M12.8931036,12.4951676 L12.8931036,14.6316283 C12.8937662,15.071825 13.040877,15.4995757 13.3119053,15.8490474 L24.6887987,15.8490474 C24.9594956,15.4995757 25.1066064,15.071825 25.1072691,14.6316283 L25.1072691,12.4951676 L12.8931036,12.4951676 Z M26.4643985,32.6184466 L26.4643985,31.2768947 L11.5359741,31.2768947 L11.5359741,32.6184466 L26.4643985,32.6184466 Z M20.1422824,22.5918525 C19.8477296,22.3367087 19.6787511,21.9685679 19.6787511,21.5814307 L19.6787511,20.8490796 C19.6794137,20.4616147 19.8497176,20.0931465 20.1455957,19.8389853 L23.2074203,17.1905994 L14.796597,17.1905994 L17.8580903,19.8389853 C18.1529743,20.0938016 18.3219529,20.4619422 18.3216216,20.8490796 L18.3216216,21.5814307 C18.3219529,21.9685679 18.1529743,22.3367087 17.8580903,22.5918525 L13.5885662,26.2850506 C13.1469027,26.6669475 12.8934349,27.218831 12.8931036,27.7988819 L12.8931036,29.9353427 L25.1072691,29.9353427 L25.1072691,27.7988819 C25.1069377,27.218831 24.8534699,26.6669475 24.4118064,26.2850506 L20.1422824,22.5918525 Z M18.3216216,23.2275831 L19.6787511,23.2275831 L19.6787511,24.569135 L18.3216216,24.569135 L18.3216216,23.2275831 Z M18.3216216,25.9106869 L19.6787511,25.9106869 L19.6787511,27.2522389 L18.3216216,27.2522389 L18.3216216,25.9106869 Z M36.6428697,21.2152552 L38,21.2152552 C38.0016559,31.3617242 29.8502643,39.6753503 19.5909485,39.9907592 C9.33163262,40.306168 0.673305579,32.5097074 0.0371511286,22.3825625 C-0.599334715,12.2554175 7.01596418,3.45967118 17.2358517,2.51737508 L15.445342,1.03105603 L16.3150844,2.84217094e-14 L19.4365485,2.58648328 C19.723812,2.82459567 19.760921,3.24776098 19.5200438,3.53172719 L16.9028646,6.61736213 L15.8631497,5.7553102 L17.4870002,3.8422231 C7.97483452,4.65154306 0.839633418,12.7945275 1.38666,22.2168337 C1.93335519,31.6394673 9.9634798,38.922365 19.5071219,38.6511724 C29.0507639,38.3799797 36.6445264,30.6532826 36.6428697,21.2152552 Z M35.54716,15.1501041 C35.3977299,14.7511758 35.2300767,14.3506099 35.0481763,13.9582321 L36.2827135,13.4001255 C36.4808492,13.8226358 36.6591049,14.2546443 36.8201316,14.6853428 L35.54716,15.1501041 Z M27.6959538,4.51299907 L27.0757032,5.70618114 C26.6857273,5.50769954 26.2868054,5.32330163 25.8918595,5.15691775 L26.4229822,3.92279478 C26.8477479,4.10096965 27.2768208,4.29977876 27.6959538,4.51299907 Z M36.61305,20.188457 C36.5865435,19.7577585 36.5451272,19.3257499 36.4888011,18.9032397 L37.834334,18.7260475 C37.8976181,19.1816379 37.9423477,19.6463992 37.9701795,20.1098504 L36.61305,20.188457 Z M36.269129,17.6307961 C36.1800011,17.2092684 36.0743067,16.7880682 35.9540337,16.3770214 L37.2584817,16.0059329 C37.3880319,16.449405 37.5013469,16.9030303 37.597764,17.3556731 L36.269129,17.6307961 Z M33.0356752,10.6452932 C32.7752495,10.3043372 32.4929559,9.96894925 32.2023791,9.64895507 L33.2202262,8.75840824 C33.5303515,9.10296699 33.8308683,9.46455716 34.1138245,9.83171528 L33.0356752,10.6452932 Z M34.4613901,12.8063185 C34.251658,12.4280244 34.0250279,12.0579186 33.7887893,11.6996036 L34.925584,10.9665975 C35.1800458,11.3527523 35.4235737,11.7552833 35.649541,12.1578144 L34.4613901,12.8063185 Z M25.1072691,3.42495324 L24.6715695,4.69543177 C24.2544245,4.55590517 23.8329721,4.43177229 23.4191404,4.32663595 L23.7584228,3.02733511 C24.2040622,3.14131462 24.657985,3.27461826 25.1072691,3.42495324 Z M22.3837328,2.7292852 L22.1435183,4.05020297 C21.717096,3.97421663 21.2823904,3.91329651 20.8506668,3.8697354 L20.9911509,2.53407891 C21.4560076,2.58255296 21.9248401,2.64838601 22.3837328,2.7292852 Z M30.0941235,5.96591029 L29.2995931,7.05592124 C28.9447382,6.80176003 28.5782868,6.56004482 28.2138233,6.33961895 L28.9228704,5.19589352 C29.3158283,5.43400591 29.7094489,5.69275246 30.0941235,5.96591029 Z M32.2477714,7.75224429 L31.3031483,8.71484713 C30.9903724,8.4148321 30.6640118,8.12300523 30.3323501,7.84820978 L31.2050745,6.82108408 C31.5619174,7.11618627 31.9127963,7.4296299 32.2477714,7.75224429 Z"></path>
							|                             </g>
							|                         </g>
							|                     </g>
							|                 </g>
							|             </g>
							|         </g>
							|     </g>
							| </svg>
						.advantages-text
							| Время открытия нового филиала&nbsp;&mdash; 3&nbsp;месяца
			.header-main__image
				img.chair(width="497" src="images/chair.svg" alt="Стоматологическое кресло")
	main
		section.landing-section.introduction-section
			.template-wrapper
				h2.section-title
					|<span class="br">Получайте дивиденты,</span> без необходимости участвовать в&nbsp;деятельности клиники
				.text-under-h1
					|<span class="br">До&nbsp;возврата инвестиций&nbsp;&mdash; 100% от&nbsp;чистой прибыли,</span> после возврата&nbsp;&mdash; регулярно&nbsp;25% от&nbsp;чистой прибыли
				picture.exel-picture
					source(srcset="images/excel_1x.webp 1x, images/excel_2x.webp 2x" type="image/webp")
					img(src="images/excel_1x.jpg" srcset="images/excel_1x.jpg 1x, images/excel_2x.jpg 2x" width="536" alt="Exel таблица")
				.btn-wrapper
					button.btn Скачать бизнес-план и презентацию
		section.landing-section.income-section
			.template-wrapper
				h2.section-title.section-title_income-section
					|<span class="br">Клиника приносит больше чистой</span> прибыли, чем обычная стоматология
				.bar-chart
					.bar-chart__item
						.bar-chart__title Обычная стоматология
						.bar-chart__block.bar-chart__block_blue.bar-chart__block_typical-clinic
							.bar-chart__text
								|<span class="bar-number">600 000</span> руб. за месяц
					.bar-chart__item
						.bar-chart__title Клиника New Smile
						.bar-chart__block.bar-chart__block_mint-blue.bar-chart__block_new-smile
							.bar-chart__text
								| <span class="bar-number">1 000 000</span> руб. за месяц
				.income-block
					h3.h3-section-title <span class="br">Доходы складываются из&nbsp;поступлений</span> от&nbsp;новых и&nbsp;постоянных пациентов
					.income-block__title От новых пациентов
					table.income-table
						tr
							th.income-table__header
							th.income-table__header Обычная стоматология
							th.income-table__header Клиника New Smile
						tr
							td.income-table__title Охват аудитории
							td.income-table__second-cell
								.percent-wrapper
									.percent.percent_blue.percent_left
										.percent__text
											|20%
									.triangle
										| <svg width="10" height="56">
										|     <polygon points="0,0 10,0 0,56"
										|              fill="#007aff" />
										| </svg>
							td
								.percent-wrapper
									.percent.percent_blue.percent_right
										.percent__text
											| 80%
									.triangle
										| <svg width="10" height="56">
										|     <polygon points="0,0 10,0 0,56"
										|              fill="#007aff" />
										| </svg>
						tr
							td.income-table__title Эффективность консультации администраторов
							td.income-table__second-cell
								.percent-wrapper
									.percent.percent_soft-green.percent_left
										.percent__text
											| 60%
									.triangle
										| <svg width="10" height="56">
										|     <polygon points="0,0 10,0 0,56"
										|              fill="#1abe94" />
										| </svg>
							td
								.percent-wrapper
									.percent.percent_soft-green.percent_right
										.percent__text
											| 80%
									.triangle
										| <svg width="10" height="56">
										|     <polygon points="0,0 10,0 0,56"
										|              fill="#1abe94" />
										| </svg>
						tr
							td.income-table__title Эффективность консультации врачей
							td.income-table__second-cell
								.percent-wrapper
									.percent.percent_orange.percent_left
										.percent__text
											| 60%
									.triangle
										| <svg width="10" height="56">
										|     <polygon points="0,0 10,0 0,56"
										|              fill="#ffb01b" />
										| </svg>
							td
								.percent-wrapper
									.percent.percent_orange.percent_right
										.percent__text
											| 78%
									.triangle
										| <svg width="10" height="56">
										|     <polygon points="0,0 10,0 0,56"
										|              fill="#ffb01b" />
										| </svg>
						tr
							td.income-table__title Средний чек на лечение
							td.income-table__second-cell
								.percent-wrapper
									.percent.percent_bright-orange.percent_left
										.percent__text
											| 10 000 руб.
									.triangle
										| <svg width="10" height="56">
										|     <polygon points="0,0 10,0 0,56"
										|              fill="#ff730f" />
										| </svg>
							td
								.percent-wrapper
									.percent.percent_bright-orange.percent_right
										.percent__text
											| 20 000 руб.
									.triangle
										| <svg width="10" height="56">
										|     <polygon points="0,0 10,0 0,56"
										|              fill="#ff730f" />
										| </svg>
						tr
							td.income-table__title Средняя прибыль за месяц
							td.income-table__second-cell
								.percent-wrapper
									.percent.percent_red.percent_left
										.percent__text
											| 400 000 руб.
									.triangle
										| <svg width="10" height="56">
										|     <polygon points="0,0 10,0 0,56"
										|              fill="#f23b10" />
										| </svg>
							td
								.percent-wrapper
									.percent.percent_red.percent_right
										.percent__text
											| 600 000 руб.
									.triangle
										| <svg width="10" height="56">
										|     <polygon points="0,0 10,0 0,56"
										|              fill="#f23b10" />
										| </svg>
					.income-block__title От постоянных пациентов
					.bar-chart
						.bar-chart__item
							.bar-chart__title Обычная стоматология
							.bar-chart__block-wrapper.bar-chart__block-wrapper_typical-clinic.bar-chart__block-wrapper_blue
								.bar-chart__block.bar-chart__block_blue.typical-clinic
									.bar-chart__text
										| <span class="bar-number">200 000</span> руб.
								.chart-wrapper-text 600 000 руб.
					p.content-p
						|Пациенты случайным образом вспоминают о&nbsp;клинике. Рекомендуют клинику хаотично и&nbsp;не&nbsp;системно. Либо клиника неумело надоедает своим пациентам, с&nbsp;напоминаниями о&nbsp;повторных визитах, что вызывает негатив у&nbsp;пациентов, а&nbsp;не&nbsp;увеличение оборотов клиники.
					.bar-chart
						.bar-chart__item
							.bar-chart__title Клиника New Smile
							.bar-chart__block-wrapper.bar-chart__block-wrapper_new-smile-clinic.bar-chart__block-wrapper_mint-green
								.bar-chart__block.bar-chart__block_mint-blue.new-smile-clinic
									.bar-chart__text
										| <span class="bar-number">400 000</span> руб.
								.chart-wrapper-text 1 000 000 руб.
					ul.content-ul
						li.content-ul__item &bull;&nbsp;Сценарии поддержания связи с&nbsp;пациентами (не&nbsp;только коммерческие звонки).
						li.content-ul__item &bull;&nbsp;Мобильное приложение для пациента (нет аналогов на&nbsp;рынке), которое проактивно следит за&nbsp;состоянием полости рта. Свободный доступ к&nbsp;карте пациента у&nbsp;пользователя. Приложение обоснованно и&nbsp;автоматически приглашает на&nbsp;повторные приёмы.
						li.content-ul__item &bull;&nbsp;Бонусная программа, мотивирующая пациентов вернуться. Доступ через мобильное приложение или по&nbsp;карте клиники.
						li.content-ul__item &bull;&nbsp;Разработана и&nbsp;автоматизирована система активных рекомендаций от&nbsp;пациентов.
		section.landing-section.automation.landing-section_grey
			.template-wrapper.template-wrapper_grey.template-wrapper_automation
				h2.section-title.section-title_automation
					| <span class="br">Уровни автоматизаций клиник</span> в&nbsp;России
				ul.content-ul
					li.content-ul__item <b>Нулевой</b>&nbsp;&mdash; не&nbsp;используют никаких программ для автоматизации бизнеса
					li.content-ul__item <b>Низкий</b>&nbsp;&mdash; используют программы общего назначения, типа 1С&nbsp;и&nbsp;Битрикс
					li.content-ul__item <b>Средний</b>&nbsp;&mdash; используют узкоспециализированные программы, разработанные для&nbsp;стоматологий
				p.content-p.content-p_automation
					|Мы&nbsp;прошли полный путь от&nbsp;нулевого уровня до&nbsp;среднего. На&nbsp;среднем уровне, проанализировали более 100 программ стоматологий и&nbsp;выбрали лучшую: по&nbsp;количеству функций, удобству и&nbsp;удовлетворению наших бизнес задач.
				p.content-p.content-p_automation
					|Потребовалось 6&nbsp;месяцев, чтобы окончательно убедиться, что даже лучшая программа, не&nbsp;выполняет и&nbsp;10% бизнес задач, которые мы&nbsp;планировали решать.
				p.content-p.content-p_automation.before-slider
					|В&nbsp;итоге, мы&nbsp;собрали команду IT&nbsp;&mdash; специалистов и&nbsp;экспертов в&nbsp;области стоматологии и&nbsp;за&nbsp;1,5 года разработали систему управления клиникой.
				.content-slider-wrapper
					.content-slider.content-slider-js
						.content-slider__item
							picture.slider-picture
								source(srcset="images/slide-test_1x.webp 1x, images/slide-test_2x.webp 2x" type="image/webp")
								img.slider-img(src="images/slide-test_1x.jpg" srcset="images/slide-test_1x.jpg 1x, images/slide-test_2x.jpg 2x" alt="Пёсель")
						.content-slider__item
							picture.slider-picture
								source(srcset="images/slide-test_1x.webp 1x, images/slide-test_2x.webp 2x" type="image/webp")
								img.slider-img(src="images/slide-test_1x.jpg"  srcset="images/slide-test_1x.jpg 1x, images/slide-test_2x.jpg 2x" alt="Пёсель")
						.content-slider__item
							picture.slider-picture
								source(srcset="images/slide-test_1x.webp 1x, images/slide-test_2x.webp 2x" type="image/webp")
								img.slider-img(src="images/slide-test_1x.jpg" srcset="images/slide-test_1x.jpg 1x, images/slide-test_2x.jpg 2x" alt="Пёсель")
						.content-slider__item
							picture.slider-picture
								source(srcset="images/slide-test_1x.webp 1x, images/slide-test_2x.webp 2x" type="image/webp")
								img.slider-img(src="images/slide-test_1x.jpg" srcset="images/slide-test_1x.jpg 1x, images/slide-test_2x.jpg 2x" alt="Пёсель")

		section.landing-section.no-analogues
			.template-wrapper
				h2.section-title <span class="br">Мы&nbsp;инвестировали 10&nbsp;000&nbsp;000&nbsp;руб.</span><span class="br">в&nbsp;систему управления клиники,</span> нет аналогов на&nbsp;рынке
				p.content-p
					|Не&nbsp;будем перечислять стандартный функционал, который есть во&nbsp;многих специализированных программах для стоматологий: расписание для записи пациентов, амбулаторные карты пациентов, напоминания о&nbsp;назначенных приёмах и&nbsp;т.д. Все эти функции также есть в&nbsp;нашей программе.
				h3.h3-section-title Мы перечислим то, что вы не найдете нигде
				.content-img
					+header-img
					picture.content-picture
						source(srcset="images/slide-test_1x.webp 1x, images/slide-test_2x.webp 2x" type="image/webp")
						img(src="images/slide-test_1x.jpg" srcset="images/slide-test_1x.jpg 1x, images/slide-test_2x.jpg 2x" alt="Пёсель")
				h4.h4-content На&nbsp;30% увеличивает эффективность консультации врачей
				p.content-p
					|Программа сама «заставляет» врачей полностью заполнять всю документацию и проводить консультации по разработанным стандартам, чтобы их эффективность была максимальной.
				.content-img
					+header-img
					picture.content-picture
						source(srcset="images/slide-test_1x.webp 1x, images/slide-test_2x.webp 2x" type="image/webp")
						img(src="images/slide-test_1x.jpg" srcset="images/slide-test_1x.jpg 1x, images/slide-test_2x.jpg 2x" alt="Пёсель")


				h4.h4-content
					|Ведет управленческий финансовый учет в&nbsp;реальном времени
				p.content-p
					|Вы&nbsp;видите все свои финансовые показатели, можете вести полный управленческий финансовый учет (не&nbsp;бухгалтерский). В&nbsp;режиме реального времени видите: сколько бизнес приносит вам чистого дохода, сколько можно изъять из&nbsp;бизнеса, а&nbsp;какая сумма уже будет критична для его стабильности.
				.content-img
					+header-img
					picture.content-picture
						source(srcset="images/slide-test_1x.webp 1x, images/slide-test_2x.webp 2x" type="image/webp")
						img(src="images/slide-test_1x.jpg" srcset="images/slide-test_1x.jpg 1x, images/slide-test_2x.jpg 2x" alt="Пёсель")


				h4.h4-content
					|Снижает человеческой фактор до&nbsp;минимума
				p.content-p
					|Программа подсказывает персоналу, какое действие сотруднику необходимо совершить в&nbsp;каждый период времени. Если администратор должен предложить кофе пациенту, ожидающему более 15&nbsp;минут в&nbsp;холле&nbsp;&mdash; он&nbsp;не&nbsp;забудет этого сделать, потому что программа все держит под контролем и&nbsp;вовремя ему об&nbsp;этом напомнит.
				p.content-p
					|Если управляющему клиники надо поменять расписание врачей в&nbsp;связи с&nbsp;увеличенной нагрузкой на&nbsp;клинику, программа заранее уведомит его об&nbsp;этом.
				.content-img
					+header-img
					picture.content-picture
						source(srcset="images/slide-test_1x.webp 1x, images/slide-test_2x.webp 2x" type="image/webp")
						img(src="images/slide-test_1x.jpg" srcset="images/slide-test_1x.jpg 1x, images/slide-test_2x.jpg 2x" alt="Пёсель")
				h4.h4-content
					|В&nbsp;автоматизированном режиме возвращает пациентов в&nbsp;клинику
				p.content-p
					|Программа отслеживает состояние полости рта пациента в&nbsp;проактивном режиме и&nbsp;сообщает о&nbsp;возможных проблемах в&nbsp;полости рта, приглашает на&nbsp;прием. Данная функция значительно увеличивает оборот клиники и&nbsp;позволяет эффективно работать с&nbsp;клиентской базой. Ни&nbsp;одна специализированная программа для стоматологий не&nbsp;позволяет решить такую бизнес задачу как&nbsp;&mdash; Эффективная работа с&nbsp;клиентской базой, исключающая человеческий фактор.
				.content-img
					+header-img
					picture.content-picture
				h4.h4-content
					|Для диагностики пациентов используется искусственный интеллект
				p.content-p
					|Программа интегрирована с&nbsp;искусственным интеллектом, который проводит автоматическую диагностику полости рта пациента с&nbsp;помощью компьютерного 3D&nbsp;томографа. Благодаря этому, объем работы, который врач выполняет каждому пациенту, значительно возрастает.
				.content-img
					+header-img
					picture.content-picture
				h4.h4-content
					|Мотивирует персонал на&nbsp;постоянное развитие
				p.content-p
					|В&nbsp;программе разработана&nbsp;HR система, мотивирующая персонал увеличивать свою эффективность и&nbsp;постоянно наращивать компетенции.
	footer