// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-placeholder: #212426;
$color-main: #212426;
$color-body: #ffffff;
$color-header-top: #00d6d6;
$color-header-bottom: #a150cf;
$color-btn: #a150cf;
$color-btn-shadow: rgba(161, 80, 207, 0.3);
$color-blue: #007aff;
$color-mint-blue: #00d6d6;
$color-soft-green: #1abe94;
$color-percent-orange: #ffb01b;
$color-bright-orange: #ff730f;
$color-red: #f23b10;
$color-soft-blue: #e5f1ff;
$color-super-mint: #e5fafa;
$color-text-chart: #8094aa;
$color-grey-background: #eef9f9;
$color-slick-arrow: rgba(0, 214, 214, 0.8);
$color-slick-arrow-hover: rgba(0, 214, 214, 1);
$color-slick-dots: #70777d;

// FONTS
$fonts-open-sans: 'Open Sans', sans-serif;
